<div class="centered-form">
  <h1 style="margin-bottom: 24px;">{{ 'welcome.greeting' | translate }}</h1>
  <h2>{{ 'welcome.signin' | translate }}</h2>
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="{{ 'welcome.form.errorTips.username' | translate }}">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="username" placeholder="{{ 'welcome.form.username' | translate }}" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="{{ 'welcome.form.errorTips.password' | translate }}">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="{{ 'welcome.form.password' | translate }}" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <!-- <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="24">
        <a class="login-form-forgot">Forgot password</a>
      </div>
    </div> -->
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">{{ 'welcome.form.submit' | translate }}</button>
  </form>
</div>