[nz-form] {
    margin: 24px 0px;
}

nz-select {
    width: 200px;
}

.workspace {
    min-height: 70vh;
}

.main-options {
    margin-top: 20px;
}

.main-options nz-space {
    margin-top: 20px;
}

.total {
    margin-top: 20px;
}