<div nz-row class="workspace">
    <div nz-col nzSpan="14">
        <h2>{{ 'workspace.leftPane.productsText' | translate }}</h2>
        <nz-table #basicTable [nzData]="scannedProducts">
            <thead>
                <tr>
                    <th>{{ 'workspace.table.barcode' | translate }}</th>
                    <th>{{ 'workspace.table.name' | translate }}</th>
                    <th>{{ 'workspace.table.description' | translate }}</th>
                    <th>{{ 'workspace.table.quantity' | translate }}</th>
                    <th>{{ 'workspace.table.price' | translate }}</th>
                    <th>{{ 'workspace.table.discount' | translate }}</th>
                    <th>{{ 'workspace.table.amount' | translate }}</th>
                    <th>{{ 'workspace.table.action.title' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.product.barcode }}</td>
                    <td>{{ data.product.name }}</td>
                    <td>{{ data.product.description }}</td>
                    <td>
                        <nz-input-number [nzMin]="1" [nzPlaceHolder]="'Digital'" [ngModel]="data.quantity"
                            (ngModelChange)="quantityChanged($event, data)"></nz-input-number>
                        <!-- <input nz-input type="number" [valueAsNumber]="data.quantity" (change)="quantityChanged($event, data)"> -->
                    </td>
                    <td>{{ data.product.price }}</td>
                    <td>{{ data.product.discountRate * 100 }}%</td>
                    <td>{{ data.product.price * data.quantity * (1-data.product.discountRate) | number: '1.0-2' }}</td>
                    <td>
                        <a (click)="removeProduct(data.product)">{{ 'workspace.table.action.remove' | translate }}</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <nz-row class="total">
            <nz-col [nzSpan]="12">
                <nz-statistic [nzValue]="(taxes | number: '1.0-2')!" [nzSuffix]="'%'"
                    [nzTitle]="'workspace.leftPane.mainInfo.taxes' | translate"></nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="12">
                <nz-statistic [nzValue]="(total | number: '1.0-2')!" [nzSuffix]="'₸'"
                    [nzTitle]="'workspace.leftPane.mainInfo.totalNoTaxes' | translate">
                </nz-statistic>
                <nz-statistic [nzValue]="(totalWTaxes | number: '1.0-2')!" [nzSuffix]="'₸'"
                    [nzTitle]="'workspace.leftPane.mainInfo.total' | translate"></nz-statistic>
            </nz-col>
        </nz-row>
    </div>
    <div nz-col nzSpan="1"></div>
    <div nz-col nzSpan="9">
        <h2>{{ 'workspace.rightPane.optionsText' | translate }}</h2>
        <div class="manual-search">
            <form nz-form [formGroup]="validateFormBarcode" (ngSubmit)="findProductByBarcode()">
                <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
                    <input formControlName="barcode" type="text" nz-input
                        placeholder="{{ 'workspace.rightPane.manualSearch.form.barcode' | translate }}" />
                </nz-input-group>
                <ng-template #suffixButton>
                    <button nz-button nzType="primary" nzSize="large" nzSearch>{{
                        'workspace.rightPane.manualSearch.form.submit' | translate }}</button>
                </ng-template>
            </form>
            <nz-descriptions nzSize="small" nzTitle="{{ 'workspace.rightPane.manualSearch.tableTitle' | translate }}"
                nzBordered nzLayout="vertical">
                <nz-descriptions-item nzTitle="{{ 'workspace.table.barcode' | translate }}">{{ foundProduct?.barcode }}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="{{ 'workspace.table.name' | translate }}">{{ foundProduct?.name }}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="{{ 'workspace.table.description' | translate }}">{{
                    foundProduct?.description }}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="{{ 'workspace.table.price' | translate }} (₸)">{{ foundProduct?.price }}
                </nz-descriptions-item>
                <nz-descriptions-item *ngIf="foundProduct" nzTitle="Action">
                    <button (click)="addFoundProduct()" nz-button nzType="primary" nzSize="large">{{
                        'workspace.table.action.addPurchase' | translate }}</button>
                </nz-descriptions-item>
            </nz-descriptions>
        </div>
        <form class="main-options" nz-form [formGroup]="validateFormPurchase" (ngSubmit)="sendPurchase()">
            <nz-space nzSize="small">
                <nz-form-control *nzSpaceItem
                    nzErrorTip="{{ 'workspace.rightPane.mainForm.errorTips.selectedPayment' | translate }}">
                    <nz-select (ngModelChange)="paymentOptionChanged($event)" formControlName="selectedPayment"
                        nzAllowClear
                        nzPlaceHolder="{{ 'workspace.rightPane.mainForm.selectedPayment.placeHolder' | translate }}">
                        <nz-option nzCustomContent nzLabel="Cash" nzValue="CASH">
                            <i nz-icon nzType="dollar" nzTheme="outline"></i>
                            {{ 'workspace.rightPane.mainForm.selectedPayment.cash' | translate }}
                        </nz-option>
                        <nz-option nzCustomContent nzLabel="Card" nzValue="CARD">
                            <i nz-icon nzType="credit-card" nzTheme="outline"></i>
                            {{ 'workspace.rightPane.mainForm.selectedPayment.card' | translate }}
                        </nz-option>
                    </nz-select>
                </nz-form-control>
                <nz-form-control *nzSpaceItem [style.display]="selectedTypeCash ? 'block' : 'none'">
                    <nz-input-number style="width: 100%" formControlName="cash" [nzMin]="0"
                        [nzPlaceHolder]="'workspace.rightPane.mainForm.selectedPayment.customerCash' | translate">
                    </nz-input-number>
                </nz-form-control>
            </nz-space>

            <nz-space nzSize="small">
                <button (click)="printReceipt()" type="button" *nzSpaceItem nz-button nzType="default">{{
                    'workspace.rightPane.mainForm.printReceipt' | translate}}</button>
                <button *nzSpaceItem nz-button nzType="primary">{{ 'workspace.rightPane.mainForm.submit' |
                    translate}}</button>
            </nz-space>
        </form>
    </div>
</div>