:host {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  margin-right: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all .3s;
  float: left;
}

.logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

[nz-menu] {
  line-height: 64px;
}

nz-content {
  padding: 0 50px;
}

nz-footer {
  text-align: center;
}

nz-content {
  margin: 24px;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
  height: 100%;
}

.spinner-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 998;
}

.spinner {
  font-size: 30px;
}