<nz-layout>
  <nz-header>
    <div class="logo">
      <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
    </div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li *ngIf="isLogged" nz-menu-item>
        <a nz-dropdown [nzDropdownMenu]="menu">
          {{ username }}
          <i nz-icon nzType="user"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item>
              <a href="#" (click)="logout()">{{ 'navbar.logout' | translate }}</a>
            </li>
          </ul>
        </nz-dropdown-menu>
      </li>
      <li nz-menu-item>
        <a nz-dropdown [nzDropdownMenu]="translationMenu">
          <i nz-icon nzType="translation" nzTheme="outline"></i>
        </a>
        <nz-dropdown-menu #translationMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="useLanguage('en')">English</li>
            <li nz-menu-item (click)="useLanguage('ru')">Русский</li>
          </ul>
        </nz-dropdown-menu>
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <div *ngIf="loaderService.isLoading | async" class="spinner-wrapper">
      <ng-template #indicatorTemplate><i class="spinner" nz-icon nzType="loading"></i></ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>StoreSystem ©2022</nz-footer>
</nz-layout>